.basket-wrapper {
    border: 2px;
    border-color: grey;
    border-left: solid;
    z-index: 1;
    position: sticky;
    top: 0px;
    right: 0;
    height: 100vh;
}

.basket {
    width: 300px;
    height: 100%;
}

.basket h2 {

    text-align: center;

}

.basket-element {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.basket-element img {
    height: 100px;
}

.basket-element-none {
    display: none;
}

.delivery-container {
    display: flex;
    justify-content: center;
}

.delivery-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}

.button-delivery-bike {
    background-color: rgb(254, 229, 203);
}

.button-delivery-bike:hover {
    background-color: rgb(254, 229, 203);
    cursor: pointer;
}

.button-delivery-box {
    background-color: white;
}

.button-delivery-box:hover {
    background-color: rgb(254, 229, 203);
    cursor: pointer;
}

.delivery-container button img {
    width: 50px;
    height: 50px;
}

.delivery-costs-container {
    gap: 20px;
}

.delivery-costs-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-right: 65px;
}

.new-basket-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.basket-minus {
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #ff8000;
    background-color: rgba(255, 255, 255, 0);
    border-color: black;
    cursor: pointer;
}

.basket-minus:hover {
    background-color: rgb(255, 230, 204);
}

.h3-basket-Name {
    text-align: center;
    width: 100px;
    line-break: anywhere;
    font-size: x-small;
}

.sum {
    text-align: end;
    padding-right: 63px;
}

.sum-box {
    padding-left: 20px;
    padding-right: 20px;
}

.placeholder-sum {
    margin-bottom: 5px;
}

.button-sum {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.button-sum a {
    font-size: 30px;
    color: #ff8000;
    background-color: white;
    border: solid;
    text-decoration: none;
    padding: 5px;
}

.button-sum a:hover {
    background-color: #ff8000;
    color: white;
}

.add-container {
    overflow: auto;
    height: calc(100vh - 520px);
}

.basket-small-icon {
    width: 82px;
    top: 24px;
    right: 160px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-small-icon img {
    height: 55px;
    width: 66px;
    filter: brightness(100);
}

.basket-small-icon img:hover {
    filter: brightness(0);
}
.basket-small {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-small h2 {
    font-size: 30px;
}

.small-basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.closed-basket {
    position: absolute;
    top: 0px;
    right: 30px;
}
.finished-shopping {
    text-align: center;
}